<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="stdout">
      <EcsLayout serviceName="blog-formation"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root additivity="true" level="DEBUG">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>